@media (max-width: 768px) {
  .main {
    width: 768px;
    background-color: #e0f1e8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12.8rem;
    padding-bottom: 12.8rem;
  }

  .main .section {
    width: 69rem;
  }

  .main .section .title {
    font-size: 2.6rem;
    font-weight: 700;
  }

  .main .section .form .box-name .box-name-input .name-input {
    width: 29.7rem;
  }

  .main .section .form .box-query-type {
    display: flex;
    column-gap: 1.6rem;
  }

  .main .section .form .box-query-type .box-radio-query-type {
    width: 29.7rem;
  }

  #message {
    height: 16.4rem;
  }

  .main .section .form .box-contacted-team {
    margin-top: 4rem;
    column-gap: 1.6rem;
  }

  .main .section .form .box-contacted-team .label-contacted-team {
    margin-left: 1.6rem;
  }

  .main .section .form .btn-submit {
    height: 5.9rem;
  }
  .box-message-sent {
    left: 22%;
  }
}

@media (max-width: 375px) {
  .main {
    width: 37.5rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .main .section {
    width: 34.3rem;
    padding: 2.4rem;
  }

  .main .section .title {
    font-size: 2.8rem;
    font-weight: 700;
  }

  .main .section .form .box-name {
    justify-content: baseline;
    flex-direction: column;
    row-gap: 2.4rem;
  }

  .main .section .form .box-name .box-name-input .name-input {
    width: 29.5rem;
  }

  .main .section .form .box-query-type {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 1.6rem;
  }

  .main .section .form .box-query-type .box-radio-query-type {
    width: 29.5rem;
  }

  #message {
    height: 24rem;
  }

  .main .section .form .box-contacted-team {
    column-gap: 1.2rem;
    display: flex;
    align-items: center;
  }

  #contacted-team {
    margin-top: 2.9rem;
  }

  .message-error-f-name,
  .message-error-l-name,
  .message-error-e-name,
  .message-error-input-radio,
  .message-error-textarea-message,
  .message-error-input-checkbox {
    color: #d73c3c;
    font-family: "Karia", sans-serif;
    src: url(./assets/fonts/static/Karla-Regular.ttf);
    font-size: 2rem;
    margin-top: 0.8rem;
  }

  .message-error-input-radio {
    margin-top: 1.6rem;
  }

  .box-message-sent {
    left: 2.4rem;
    width: 32.7rem;
    height: 13.1rem;
    line-height: 2.5rem;
  }
}
